@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Pen Script';
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding: 0px 20px;
}


/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;

  font-size: 18px;

  white-space: nowrap;
  font-family: 'Nanum Pen Script';
}

.MyButton_default {
  background-color: #ececec;
  color: black;
}

.MyButton_positive {
  background-color: #64c964;
  color: white;
}

.MyButton_negative {
  background-color: #fd565f;
  color: white;
}

.MyButton_neutral {
  background-color: #fdce17;
  color: white;
}

/* HEADER */
header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header>div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header button {
  font-family: 'Nanum Pen Script';
}

.img_button {
  width: 30px;
  height: 30px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between
}

footer > div {
  display: flex;
}

footer .foot_btn_left {
  width: 25%;
  justify-content: start;
}

footer .foot_btn_right {
  width: 25%;
  justify-content: end;
}

footer button {
  font-family: "Nanum Pen Script";
}

/* Login */

.login_wrap {
  height : 100vh;
  display : flex;
}

.login_box {
  margin : auto;
  padding : 50px;
  width : 400px;
  max-height : 800px;
}

.login_header {
  border-bottom : none;
}

.login_logo {
  width: 100%;
  font-size: 50px;
  color: #fd565f;
  justify-content: center;
  text-shadow: 4px 2px 2px pink;
}

.login_input_box {
  margin-bottom : 10px;
}

.login_input_title {
  width : 100%;
  margin : 0 8px;
  color: #fd565f;
}

.login_input_content {
  width : 100%;
  height : 50px;
  border-radius : 8px;
  background-color : rgb(240, 240, 240);
  display: flex;
  align-items: center;
}

.login_input_content input {
  font-family: "Nanum Pen Script";
  font-size: 20px;
  width: 93%;
  margin : 0 auto;
  resize : none;
  border: none;
  background-color : transparent;
}

.login_input_content input:focus {
  outline : none;
}

.login_button button {
  font-family: 'Nanum Pen Script';
  font-size: 35px;
  width : 100%;
  height : 50px;
  border : none;
  cursor: pointer;
  color : white;
  background-color: transparent;
}

.login_button_yes {
  margin-top : 30px;
  border-radius : 8px;
  background-color : #fd565f;
}

.login_button_no {
  margin-top : 10px;
  border-radius : 8px;
  background-color : grey;
}

.login_footer {
  display : flex;
  justify-content : space-between;
  margin-top : 5px;
  height : 20px;
}

.login_footer_left label{
  cursor : pointer;
}

.login_footer_left input{
  cursor : pointer;
}

.login_footer_right {
  width : 50%;
  display : flex;
  justify-content : space-around;
}

.login_footer_right button {
  font-family: 'Nanum Pen Script';
  font-size : 15px;
  background-color : transparent;
  border : none;
  text-decoration : underline;
  cursor : pointer;
}

/* MyPage */

.mypage_wrap {
  height : 85vh;
  margin-top : 20px;

  overflow-y : scroll;
}

.mypage_box {
  height : 80px;
  width : 600px;
  margin : 0 auto;
  display : flex;
  justify-content : space-between;
  padding : 10px;
}

.mypage_left {
  width : 100%;
}

.mypage_title {
  width : 100%;
  height : 20px;
  margin : 0 8px;
}

.mypage_content {
  width : 100%;
  height : 50px;
  border : none;
  border-radius : 8px;
  background-color : rgb(240, 240, 240);
  display: flex;
  align-items: center;
}

.mypage_content input {
  font-family: "Nanum Pen Script";
  font-size: 20px;
  width: 93%;
  margin : 0 auto;
  resize : none;
  border: none;
  background-color : transparent;
}

.mypage_content input:focus {
  outline : none;
}

.mypage_right {
  width : 20%;
}

.mypage_button {
  margin-top : 20px;
  margin-left : 10px;
}

.mypage_button button {
  font-family: 'Nanum Pen Script';
  font-size: 20px;
  width : 100%;
  height : 50px;
  border : none;
  border-radius : 8px;
  cursor: pointer;
  background-color : #64c964;
  color : white;
}

/* Agree */

.agree_wrap {
  height : 810px;
}

.agree_top {
  height : 50px;
}

.agree_top input {
  margin : 10px;
  cursor : pointer;
}
.agree_top label {
  font-size : 25px;
  line-height : 50px;
  vertical-align : center;
  cursor : pointer;
  text-decoration: underline;
}

.agree_middle {
  height : 600px;
}

.agree_box {
  width : 600px;
  height : 190px;
  margin : 15px auto;
  padding : 0 10px;
}

.agree_title input {
  margin : 10px;
  cursor : pointer;
}

.agree_title label {
  font-size : 23px;
  cursor : pointer;
}

.agree_title span {
  font-size : 18px;
  color : #fd565f;
}

.agree_content {
  border-radius : 8px;
  background-color: #ececec;
  height : 130px;
  overflow : auto;
  padding : 10px;
  font-size : 18px;
}

.agree_button {
  width : 600px;
  height : 120px;
  margin : 0 auto;
}

/* join */

.join_wrap {
  height : 85vh;
  overflow-y : auto;
  overflow-x : hidden;
}

.join_wrap h4 {
  text-align : center;
  text-decoration : underline;
  margin : 5px auto;
  color : #fd565f;
}

.join_box {
  height : 80px;
  width : 600px;
  margin : 0 auto;
  display : flex;
  justify-content : space-between;
  padding : 5px;
}

.join_left {
  width : 100%;
}

.join_title {
  width : 100%;
  height : 20px;
  margin : 0 8px;
}

.join_title span {
  font-size : 15px;
  color : grey;
  font-weight : lighter;
}

.join_content {
  width : 100%;
  height : 50px;
  border : none;
  border-radius : 8px;
  background-color : rgb(240, 240, 240);
  display: flex;
  align-items: center;
}

.join_content input {
  font-family: "Nanum Pen Script";
  font-size: 20px;
  width: 93%;
  margin : 0 auto;
  resize : none;
  border: none;
  background-color : transparent;
}

.join_content input:focus {
  outline : none;
}

.join_right {
  width : 20%;
}

.join_button {
  margin-top : 20px;
  margin-left : 10px;
}

.join_button button {
  font-family: 'Nanum Pen Script';
  font-size: 20px;
  width : 100%;
  height : 50px;
  border : none;
  border-radius : 8px;
  cursor: pointer;
  background-color : #64c964;
  color : white;
}

/* DiaryList */

.DiaryList .menu_wrapper {
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.DiaryList .menu_wrapper .right_col {
  flex-grow: 1;
}

.DiaryList .menu_wrapper .right_col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Nanum Pen Script";
  font-size: 18px;
}

/* DiaryItem */
.DiaryItem {
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.DiaryItem .emotion_img_wrapper_1 {
  background-color: #64c964;
}

.DiaryItem .emotion_img_wrapper_2 {
  background-color: #9dd772;
}

.DiaryItem .emotion_img_wrapper_3 {
  background-color: #fdce17;
}

.DiaryItem .emotion_img_wrapper_4 {
  background-color: #fd8446;
}

.DiaryItem .emotion_img_wrapper_5 {
  background-color: #fd565f;
}

.DiaryItem .emotion_img_wrapper img {
  width: 50%
}

.DiaryItem .info_wrapper {
  flex-grow: 1;
  margin-left: 20px;
  cursor: pointer;
}

.DiaryItem .diary_date {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.DiaryItem .diary_content_priview {
  font-size: 18px;
}

.DiaryItem .btn_wrapper {
  min-width: 70px;
}

.btn_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home_del {
  margin-top: 10px;
}

/* DiaryEditor */

.DiaryEditor section {
  margin-bottom: 40px;
}

.DiaryEditor h4 {
  font-size: 22px;
  font-weight: bold;
}

.DiaryEditor .input_date {
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Nanum Pen Script";
  font-size: 20px;
}

.DiaryEditor .emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}

.DiaryEditor textarea {
  font-family: "Nanum Pen Script";
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 20vh;
  resize : none;
  overflow : auto;
  min-height: 200px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 20px;
}

.DiaryEditor .control_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius : 8px;
  background-color: #ececec;
}

::-webkit-scrollbar-thumb {
  border-radius : 8px;
  background-color: grey;

}

/* EmotionItem */

.EmotionItem {
  cursor: pointer;
  border-radius: 5px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EmotionItem img {
  width: 50%;
  margin-bottom: 10px;
}

.EmotionItem span {
  font-size: 18px;
}

.EmotionItem_off {
  background-color: #ececec;
}

.EmotionItem_on_1 {
  background-color: #64c964;
  color: white;
}

.EmotionItem_on_2 {
  background-color: #9dd772;
  color: white;
}

.EmotionItem_on_3 {
  background-color: #fdce17;
  color: white;
}

.EmotionItem_on_4 {
  background-color: #fd8446;
  color: white;
}

.EmotionItem_on_5 {
  background-color: #fd565f;
  color: white;
}

/* Diary */

.DiaryPage section {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.DiaryPage h4 {
  font-size: 22px;
  font-weight: bold;
}

.DiaryPage .diary_img_wrapper {
  background-color: #ececec;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.DiaryPage .diary_img_wrapper_1 {
  background-color: #64c964;
}

.DiaryPage .diary_img_wrapper_2 {
  background-color: #9dd772;
}

.DiaryPage .diary_img_wrapper_3 {
  background-color: #fdce17;
}

.DiaryPage .diary_img_wrapper_4 {
  background-color: #fd8446;
}

.DiaryPage .diary_img_wrapper_5 {
  background-color: #fd565f;
}

.DiaryPage .emotion_descript {
  font-size: 20px;
  color: white;
}

.DiaryPage .diary_content_wrapper {
  width: 100%;
  height: 25vh;
  background-color: #ececec;
  border-radius: 5px;
  word-break: keep-all;
  overflow-wrap: break-word;
  overflow: auto;
}

.DiaryPage .diary_content_wrapper p {
  padding: 20px;
  text-align: left;
  font-size: 20px;
  font-family: 'Yeon Sung';
  font-weight: 400;
  line-height: 2.5;
}

.home_myPage, .home_logout{
  display: flex;
  margin-bottom: 10px;
  flex-direction: row-reverse;
} 

.home_logout{
  float: right;
  margin-left: 5px;
}

/* checkDepression */
.chk_app {
  min-height: 150vh;
  padding: 0px 0px;
}

.check_wrap {
  height : 920px;
}

.check_logo {
  width: 100%;
  font-size: 50px;
  color: #fd565f;
  justify-content: center;
  text-shadow: 4px 2px 2px pink;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.page_info {
  clear: both;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}

.content {
  margin: 0;
  padding: 0;
  font: normal 14px/1.5 NanumBarunGothic, Dotum;
  color: #333;
}

.explain_text {
  margin: 0;
  padding: 0;
  font: normal 14px/1.5 NanumBarunGothic, Dotum;
  color: #333;
}
.explain_wrap{
  margin-bottom: 20px;
  padding: 10px 0;
  background-color: #fac3c5;
  border: 1px solid #fdb1b4;
  text-align: center;
}
.border_write {
  clear: both;
  table-layout: fixed;
  border-collapse: collapse;
  border: 0;
  border-spacing: 0;
  border-top: 1px solid #aaaaaa;
}

.cell {
  padding: 10px 0;
  border: 0;
  border-bottom: 1px solid #ddd;
  background-color: #fac3c53d;
  text-align: center;
  vertical-align: middle;
}

.cell.chkCell {
  padding: 10px 0;
  border: 0;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff3d;
  text-align: center;
  vertical-align: middle;
}

.chk_button button {
  background-color: #f59595;
  font-family: 'Nanum Pen Script';
  font-size: 35px;
  color: white;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* recommendVideo */
.collection {
  float: left;
  cursor: pointer;
  border: 1px solid #fdb1b4;
  border-radius: 5px;
  margin: 10px 5%;
  padding: 10px;
  padding-right: 5%;
  padding-left: 5%;
  font-size: 18px;
}

.collection.total {
  background-color: #fd565f;
  color: white;
}